{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if new_post %}
            <form class="m-3" id="new-post-form">
                {% csrf_token %}
                <h2>New Post</h2>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" id="title" name="title" placeholder="New Post">
                </div>  
                <div class="mb-3">
                    <textarea class="form-control" cols="20" rows="10" name="body" id="body">Enter your post here</textarea>
                </div>
                    <button class="btn btn-primary"  type="submit">Post</button>    
            </form>
    {% endif %}

    <h2 class="m-3">All posts</h2>
    {% for post in page %}
    <div class="m-3 border p-1">
        <h3>{{ post.title }}</h3>
        <p>Written by: <a href="/profile/{{ post.author.id }}">{{ post.author }}</a></p>
        <p class="post-body">{{ post.body }}</p>
        <p>Likes: {{ post.likes_count }}</p>
        <p>Created at: {{ post.created }}</p>
        {% if post.author == request.user %}
        <button id="{{ post.id }}" class="btn btn-primary edit-post">Edit</button>
        {% endif %}
    </div>   
    {% endfor %}

    <div class="pagination m-3">
        <span>
            {% if page.has_previous %}
            <a class="page-link d-inline" href="?page=1">first</a>
            <a class="page-link d-inline" href="?page={{ page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="page-item d-inline" class="current-page">{{ page.number }} of {{ page.paginator.num_pages }}</span>

            {% if page.has_next %}
            <a class="page-link d-inline" href="?page={{ page.next_page_number }}">next</a>
            <a class="page-link d-inline" href="?page={{ page.paginator.num_pages }}">last</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static './network/index.js' %}" defer></script>
{% endblock %}