{% extends "calendarapp/layout.html" %}

{% load static %}

{% block script %}
<script defer src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js'></script>
<script defer src="{% static 'js/month_view.js' %}"></script>
{{ event_list|json_script:"event_list_data" }}
{{ year|json_script:"year" }}
{{ month|json_script:"month" }}
{% endblock %}

{% block body %}
<h1 class="text-center font-bold text-xl">{{ month}}, {{ year }}</h1>
<div class="flex items-center">
        <div>
                <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-4 rounded" href="/month_view/{{ prev_year }}/{{ prev_month }}"><</a>
        </div>
        <div class="grid grid-cols-7 w-1/2 mx-auto" id="days-container">
        </div>
        <div>
                <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-4 rounded" href="/month_view/{{ next_year }}/{{ next_month }}">></a>
        <div>
</div>
{% endblock %}
